* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color: #171515;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo {
    font-weight: bold;
    font-size: 24px;
}
.nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    color: white
}
.nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    gap: 20px;
    color: #ffffff;

}
.bg-tittle {
    font-size: 250px;
    font-weight: bold;
    color: rgba(255,255,255,0.4);
    letter-spacing: 30px;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: scaleY(2.25);
    
}
.image-box {
    width: 420px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}
.image-box img {
    width: 150%;
    height: 150%;
    transform: translateY(-60px);
    object-fit: contain;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.content h2 {
    font-size: 26px;
    letter-spacing: 1px;
}
.content p{
    color: #aaaaaa;
    width: min(1000vw,1000px);
    max-width: 800px;
    font-size: 14px;
}
.btn {
    background-color: #f3e5f5;
    color: #000000;
    border: none;
    padding: 12px 32px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}